._3RswM {
}

._2Lyun {
  display: none;
}

._19slp {
}

._23Mx7 {
}
._10BCU {
}

.UKBwl {
}

._1DdPg {
}

._3emJZ {
}

._3u5fF {
  background: rgba(0, 0, 0, 0.03);
  pointer-events: none;
}
:root {
  /*** Avatar Sizing ***/

  /* small screens */

  /* add medium screens when design adds third breakpoint option for avatars */

  /* large screens */
}

.e3jyD {
}

._2VKOv {
}

._19187 {
}

._3oGJ0 {
  height: 24px;
  width: 24px;
}

.nO4RI {
  height: 40px;
  width: 40px;
}

._3WsLa {
  height: 72px;
  width: 72px;
}

._30iaN {
  height: 104px;
  width: 104px;
}

._3g-Qu {
  height: 132px;
  width: 132px;
}

@media (min-width: 1312px) {
  ._3oGJ0 {
    height: 36px;
    width: 36px;
  }

  .nO4RI {
    height: 60px;
    width: 60px;
  }

  ._3WsLa {
    height: 108px;
    width: 108px;
  }

  ._30iaN {
    height: 156px;
    width: 156px;
  }

  ._3g-Qu {
    height: 198px;
    width: 198px;
  }
}
._2BUK9 { box-sizing: border-box; }

._2ZR7m {
  margin-left: auto;
}

._3hR9j {
  margin-right: auto;
}

._34uQ1 {
  overflow-x: scroll;
  overflow-y: hidden;
}

._3Bykf {
  overflow-x: hidden;
  overflow-y: scroll;
}

.i-Gv_ {
  border-radius: 999px;
}

._2mmPz {
  display: none;
}

.a1rPU {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

._29QOd {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.DROXF {
  display: inline-block;
}

@media (min-width: 360px) {
  ._1KNpw {
    display: none;
  }

  ._1Wzf4 {
    display: block;
  }

  .jTAnL {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  ._1z6Kv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .FmAM9 {
    display: inline-block;
  }
}

@media (min-width: 800px) {
  ._3syQt {
    display: none;
  }

  ._70-1- {
    display: block;
  }

  ._1kZsk {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .knhwo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  ._2Qtkf {
    display: inline-block;
  }
}

@media (min-width: 1312px) {
  .wdHY8 {
    display: none;
  }

  ._3evLu {
    display: block;
  }

  ._2slIg {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  ._15YUE {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .ApKTz {
    display: inline-block;
  }
}

/* Columns */

.C8mWh {
  vertical-align: top;
}

._2Aq7v {
  width: 8.33333%;
}

._3didh {
  width: 16.66667%;
}

._2gEH7 {
  width: 25%;
}

._1dQCJ {
  width: 33.33333%;
}

._1rSRl {
  width: 41.66667%;
}

._2EMaW {
  width: 50%;
}

._3xmfa {
  width: 58.33333%;
}

._128oj {
  width: 66.66667%;
}

._1r-L7 {
  width: 75%;
}

.X5JZi {
  width: 83.33333%;
}

._2uO8E {
  width: 91.66667%;
}

._3_mGU {
  width: 100%;
}

@media (min-width: 360px) {
  ._1puwK {
    width: 8.33333%;
  }

  ._3pc_- {
    width: 16.66667%;
  }

  ._3Bbu3 {
    width: 25%;
  }

  ._1ZdT4 {
    width: 33.33333%;
  }

  .RoIMw {
    width: 41.66667%;
  }

  ._1TY55 {
    width: 50%;
  }

  ._38LpO {
    width: 58.33333%;
  }

  ._3aa-0 {
    width: 66.66667%;
  }

  ._1Yy_- {
    width: 75%;
  }

  ._18yLC {
    width: 83.33333%;
  }

  ._3oXHW {
    width: 91.66667%;
  }

  ._3biTU {
    width: 100%;
  }
}

@media (min-width: 800px) {
  ._1E1oN {
    width: 8.33333%;
  }

  ._1GN7e {
    width: 16.66667%;
  }

  ._2QBCt {
    width: 25%;
  }

  ._2X5gs {
    width: 33.33333%;
  }

  ._2nBLK {
    width: 41.66667%;
  }

  .ATcmi {
    width: 50%;
  }

  ._2LHDM {
    width: 58.33333%;
  }

  ._3fmze {
    width: 66.66667%;
  }

  ._3lC7M {
    width: 75%;
  }

  .rdKcb {
    width: 83.33333%;
  }

  ._2TM2u {
    width: 91.66667%;
  }

  ._2FsNB {
    width: 100%;
  }
}

@media (min-width: 1312px) {
  ._1rU7s {
    width: 8.33333%;
  }

  ._32e08 {
    width: 16.66667%;
  }

  .oCjMF {
    width: 25%;
  }

  ._1isq9 {
    width: 33.33333%;
  }

  ._2VfGN {
    width: 41.66667%;
  }

  .YWN1R {
    width: 50%;
  }

  ._1mGli {
    width: 58.33333%;
  }

  ._21Jgq {
    width: 66.66667%;
  }

  ._2PMUa {
    width: 75%;
  }

  ._3Lukr {
    width: 83.33333%;
  }

  ._23Hjq {
    width: 91.66667%;
  }

  ._3Aq9A {
    width: 100%;
  }
}
._2iAX7 {
  height: 100%;
  margin: 0 auto;
}

._28yoA {
}
._2LBXb {
  border-radius: 4px;
}

._3Af9R {
}

._1MI7p {
  padding: 10px 14px;
}

._19Vl4 {
  padding: 12px 16px;
}

._1qeB_,
._1wuJy {
}

.DKXRE {
  cursor: default;
}

._3VBU6 {
}

._3VBU6:hover,
._3VBU6:focus {
  background-color: rgb(226, 226, 226);
}

._3VBU6:active {
  background-color: rgb(218, 218, 218);
}

._3V-ka {
}

._3V-ka:hover,
._3V-ka:focus {
  background-color: rgb(173, 8, 27);
}

._3V-ka:active {
  background-color: rgb(163, 8, 26);
}

._3xfyQ {
}

._3xfyQ:hover,
._3xfyQ:focus {
  background-color: rgb(0, 124, 240);
}

._3xfyQ:active {
  background-color: rgb(0, 119, 230);
}
._338np {
  height: 100%;
  margin: 0 auto;
}

._1B1jU {
}
.kWJ7K {
  border-bottom: 0;
  border-left: 0;
}
._20us6 {
  height: 100%;
  margin: 0 auto;
}

._1v5BH {
}
._3EiG8 {
  fill: currentColor;
  vertical-align: middle;
}
.w10Ct {
}

._3tRr2 {
  background: transparent;
}

._3tRr2:hover,
._3tRr2:focus {
  background-color: rgba(0, 0, 0, 0.06);
}

._3tRr2:active {
  background-color: rgba(0, 0, 0, 0.1);
}

._3PPCC {
}

._29xgT {
}

._385Hn {
}

.D0vC- {
}

.B0JF4 {
}
._Sv97 {
  max-height: 90vh;
  max-width: 500px;
  min-height: 50px;
  min-width: 80px;
}

._2m510 {
  fill: #fff;
  stroke: #efefef;
}

._2QmnZ {
  max-height: 70vh;
  width: 100vw;
}

.Ws1KG {
  background-color: #000;
  height: 100%;
  opacity: 0.5;
  width: 100%;
}
._3xACF {
  background: rgba(0, 0, 0, 0.03);
  height: 100%;
  pointer-events: none;
  z-index: 2;
}
._3msV2 {
}
._34hb0 {
  border-radius: 4px;
  padding: 2px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.uN2-h {
  border-radius: 3px;
  height: 36px;
}

.uN2-h:focus {
  position: relative;
}

._18Ytj {
  background: transparent;
}

.OFsmN {
}

@media (min-width: 800px) {
  ._34hb0 {
    border-radius: 6px;
    padding: 4px;
  }

  .uN2-h {
    border-radius: 4px;
    height: 48px;
  }
}
.ZoDKA {
}

._3K6IF {
}

._20dLE {
}

._1t6kW {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding-right: 20%; /* prevents option.name from running into arrow */
}

.x1VtR {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  pointer-events: none;
  right: 16px;
  top: 1px;
}

.eDeX_ {
  width: 80%;
}
@-webkit-keyframes _2BLSE {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes _2BLSE {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.Ezy8B {
}

._3p3EQ {
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: _2BLSE;
          animation-name: _2BLSE;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

._1XgGh {
  visibility: hidden;
}
.g8qTC {
  border-radius: 48px;
  height: 28px;
  padding: 2px;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
  width: 48px;
}

._2QS8S {
}

._3vGyz {
}

.Ema5B {
  height: 24px;
  -webkit-transition: left 0.2s sease;
  transition: left 0.2s sease;
  width: 24px;
}

._1IW1Y {
  left: 22px;
}

._1ccbB {
  left: 2px;
}

.vPB9N {
  height: 100%;
  opacity: 0;
  z-index: 2;
}
._2Z3zf {
  height: 100%;
  margin: 0 auto;
}

._2LH0F {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

._2xLXs {
  -webkit-animation: _1Ohon 0.33s forwards;
          animation: _1Ohon 0.33s forwards;
}

@-webkit-keyframes _1Ohon {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.93);
            transform: scale(0.93);
  }

  39% {
    opacity: 0;
    -webkit-transform: scale(0.93);
            transform: scale(0.93);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes _1Ohon {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.93);
            transform: scale(0.93);
  }

  39% {
    opacity: 0;
    -webkit-transform: scale(0.93);
            transform: scale(0.93);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
._3gNPb {
  cursor: text;
  outline: 0;
  resize: none;
}

._1RMz- {
}

._1RMz-:focus {
  background-color: #fff;
}

._3DkBE {
  border: 1px solid #fab904;
}

._3DkBE:focus {
  background-color: #fff;
}
._1xnX2 {
  cursor: text;
  outline: 0;
}

.oJsIk {
}

.oJsIk:focus {
  background-color: #fff;
}

.XV4W4 {
  border: 1px solid #fab904;
}

.XV4W4:focus {
  background-color: #fff;
}
@charset "utf-8";

/* Border lines */

.border {
  border: 1px solid #efefef;
}

.border-top {
  border-top: 1px solid #efefef;
}

.border-right {
  border-right: 1px solid #efefef;
}

.border-bottom {
  border-bottom: 1px solid #efefef;
}

.border-left {
  border-left: 1px solid #efefef;
}

/* Border radii */

.square {
  border-radius: 0;
}

.circle {
  border-radius: 50%;
}

.rounded {
  border-radius: 8px;
}

.rounded-top {
  border-radius: 8px 8px 0 0;
}

.rounded-right {
  border-radius: 0 8px 8px 0;
}

.rounded-bottom {
  border-radius: 0 0 8px 8px;
}

.rounded-left {
  border-radius: 8px 0 0 8px;
}

.no-border {
  border: 0;
}

:root {

  /* darker versions of colors for hover states */
}

/* blue */

.blue {
  color: #0084ff;
}

.blue-hover:hover {
  color: #0084ff;
}

.bg-blue {
  background-color: #0084ff;
}

.bg-blue-hover:hover,
.bg-blue-focus:focus {
  background-color: rgb(0, 124, 240);
}

.bg-blue-active:active {
  background-color: rgb(0, 119, 230);
}

/* dark-gray */

.dark-gray {
  color: #555;
}

.dark-gray-hover:hover {
  color: #555;
}

.bg-dark-gray {
  background-color: #555;
}

.bg-dark-gray-hover:hover,
.bg-dark-gray-focus:focus {
  background-color: rgb(79, 79, 79);
}

.bg-dark-gray-active:active {
  background-color: rgb(77, 77, 77);
}

/* pine */

.pine {
  color: #364a4c;
}

.pine-hover:hover {
  color: #364a4c;
}

.bg-pine {
  background-color: #364a4c;
}

/* gray */

.gray {
  color: #b5b5b5;
}

.gray-hover:hover {
  color: #b5b5b5;
}

.bg-gray {
  background-color: #b5b5b5;
}

.bg-gray-hover:hover,
.bg-gray-focus:focus {
  background-color: rgb(171, 171, 171);
}

.bg-gray-active:active {
  background-color: rgb(165, 165, 165);
}

/* red */

.red {
  color: #bd081c;
}

.red-hover:hover {
  color: #bd081c;
}

.bg-red {
  background-color: #bd081c;
}

.bg-red-hover:hover,
.bg-red-foucs:focus {
  background-color: rgb(173, 8, 27);
}

.bg-red-active:active {
  background-color: rgb(163, 8, 26);
}

/* slate */

.slate {
  color: #88a5ab;
}

.slate-hover:hover {
  color: #88a5ab;
}

.bg-slate {
  background-color: #88a5ab;
}

.bg-slate-hover:hover {
  background-color: #88a5ab;
}

/* light-gray */

.light-gray {
  color: #efefef;
}

.light-gray-hover:hover {
  color: #efefef;
}

.bg-light-gray {
  background-color: #efefef;
}

.bg-light-gray-hover:hover,
.bg-light-gray-focus:focus {
  background-color: rgb(226, 226, 226);
}

.bg-light-gray-active:active {
  background-color: rgb(218, 218, 218);
}

/* white */

.white {
  color: #fff;
}

.white-hover:hover {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

/* yellow */

.yellow {
  color: #fab904;
}

.yellow-hover:hover {
  color: #fab904;
}

.bg-yellow {
  background-color: #fab904;
}

/* frost */

.bg-frost {
  background-color: rgba(#fff, 0:global .95);
}

/* darken */

.bg-shade {
  background-color: rgba(#000, 0:global .6);
}

.pointer {
  cursor: pointer;
}

.zoom-in {
  cursor: zoom-in;
}

.zoom-out {
  cursor: zoom-out;
}

/* floats */

.pull-left { float: left; }

.pull-right { float: right; }

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* display */

.block { display: block; }

.inline { display: inline; }

.inline-block { display: inline-block; }

.table { display: table; }

.table-cell { display: table-cell; }

/* overflow */

.overflow-hidden { overflow: hidden; }

.overflow-scroll { overflow: scroll; }

.overflow-auto { overflow: auto; }

.fit { max-width: 100%; }

/* position */

.relative { position: relative; }

.fixed { position: fixed; }

.absolute { position: absolute; }

.top-0 { top: 0; }

.right-0 { right: 0; }

.bottom-0 { bottom: 0; }

.left-0 { left: 0; }

/* box model */

.border-box { box-sizing: border-box; }

.flex { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

@media (min-width: 360px) {
  .sm-flex { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
}

@media (min-width: 800px) {
  .md-flex { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
}

@media (min-width: 1312px) {
  .lg-flex { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
}

.flex-column { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }

.flex-wrap { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.items-start { -webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; -ms-grid-row-align: flex-start; align-items: flex-start; }

.items-end { -webkit-box-align: end; -webkit-align-items: flex-end; -ms-flex-align: end; -ms-grid-row-align: flex-end; align-items: flex-end; }

.items-center { -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; -ms-grid-row-align: center; align-items: center; }

.items-baseline { -webkit-box-align: baseline; -webkit-align-items: baseline; -ms-flex-align: baseline; -ms-grid-row-align: baseline; align-items: baseline; }

.items-stretch { -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; -ms-grid-row-align: stretch; align-items: stretch; }

.self-start { -webkit-align-self: flex-start; -ms-flex-item-align: start; align-self: flex-start; }

.self-end { -webkit-align-self: flex-end; -ms-flex-item-align: end; align-self: flex-end; }

.self-center { -webkit-align-self: center; -ms-flex-item-align: center; align-self: center; }

.self-baseline { -webkit-align-self: baseline; -ms-flex-item-align: baseline; align-self: baseline; }

.self-stretch { -webkit-align-self: stretch; -ms-flex-item-align: stretch; align-self: stretch; }

.justify-start { -webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; }

.justify-end { -webkit-box-pack: end; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; }

.justify-center { -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }

.justify-between { -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }

.justify-around { -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; }

.content-start { -webkit-align-content: flex-start; -ms-flex-line-pack: start; align-content: flex-start; }

.content-end { -webkit-align-content: flex-end; -ms-flex-line-pack: end; align-content: flex-end; }

.content-center { -webkit-align-content: center; -ms-flex-line-pack: center; align-content: center; }

.content-between { -webkit-align-content: space-between; -ms-flex-line-pack: justify; align-content: space-between; }

.content-around { -webkit-align-content: space-around; -ms-flex-line-pack: distribute; align-content: space-around; }

.content-stretch { -webkit-align-content: stretch; -ms-flex-line-pack: stretch; align-content: stretch; }

/* Fix for Chrome 44 bug: https://code.google.com/p/chromium/issues/detail?id=506893 */

.flex-auto {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 0; /* 1 */
  min-width: 0; /* 1 */
}

.flex-none { -webkit-box-flex: 0; -webkit-flex: none; -ms-flex: none; flex: none; }

.order-first { -webkit-box-ordinal-group: 0; -webkit-order: -1; -ms-flex-order: -1; order: -1; }

.order-last { -webkit-box-ordinal-group: 100000; -webkit-order: 99999; -ms-flex-order: 99999; order: 99999; }

:root {

  /* type sizes */

  /* type sizes for smaller locales */

  /* leading */

  /* tracking */

  /* word-spacing */
}

/* formatting */

.text-left { text-align: left; }

.text-right { text-align: right; }

.text-center { text-align: center; }

.text-justify { text-align: justify; }

.bold { font-weight: bold; }

.regular { font-style: normal; }

.italic { font-style: italic; }

.underline { text-decoration: underline; }

.no-underline { text-decoration: none; }

/* lists */

.list-style-none {
  list-style: none;
}

/* text overflow */

.break-word {
  word-wrap: break-word;
}

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* styles */

.sans-serif {
  font-family:
    "Helvetica Neue",
    Helvetica,
    "\30D2\30E9\30AE\30CE\89D2\30B4   Pro W3",
    "Hiragino Kaku Gothic Pro",
    "\30E1\30A4\30EA\30AA",
    Meiryo,
    "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF",
    arial,
    sans-serif;
}

.antialiased {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* scale */

.text-xs {
  font-size: 10px;
  letter-spacing: -0.025px;
  line-height: 11px;
  word-spacing: 0;
}

:lang(ja) .text-xs {
  font-size: 8.6px;
}

.text-sm {
  font-size: 11px;
  letter-spacing: -0.05px;
  line-height: 12px;
  word-spacing: 0;
}

:lang(ja) .text-sm {
  font-size: 9.5px;
}

.text-md {
  font-size: 12px;
  letter-spacing: -0.1px;
  line-height: 14px;
  word-spacing: 0;
}

:lang(ja) .text-md {
  font-size: 10.3px;
}

.text-lg {
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 16px;
  word-spacing: 0;
}

:lang(ja) .text-lg {
  font-size: 12px;
}

.text-xl {
  font-size: 16px;
  letter-spacing: -0.2px;
  line-height: 18px;
  word-spacing: 0;
}

:lang(ja) .text-xl {
  font-size: 13.8px;
}

.display-xs {
  font-size: 18px;
  letter-spacing: -0.25px;
  line-height: 20px;
  word-spacing: 0;
}

:lang(ja) .display-xs {
  font-size: 15.5px;
}

.display-sm {
  font-size: 21px;
  letter-spacing: -0.3px;
  line-height: 23px;
  word-spacing: -1.3px;
}

:lang(ja) .display-sm {
  font-size: 18.1px;
}

.display-md {
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 28px;
  word-spacing: -2px;
}

:lang(ja) .display-md {
  font-size: 20.6px;
}

.display-lg {
  font-size: 36px;
  letter-spacing: -1.25px;
  line-height: 42px;
  word-spacing: -2.25px;
}

:lang(ja) .display-lg {
  font-size: 31px;
}

.display-xl {
  font-size: 48px;
  letter-spacing: -1.75px;
  line-height: 56px;
  word-spacing: -2.75px;
}

:lang(ja) .display-xl {
  font-size: 41.3px;
}

@media (min-width: 360px) {
  .text-xs {
    font-size: 11px;
    letter-spacing: -0.05px;
    line-height: 12px;
    word-spacing: 0;
  }

  :lang(ja) .text-xs {
    font-size: 9.5px;
  }

  .text-sm {
    font-size: 12px;
    letter-spacing: -0.1px;
    line-height: 14px;
    word-spacing: 0;
  }

  :lang(ja) .text-sm {
    font-size: 10.3px;
  }

  .text-md {
    font-size: 14px;
    letter-spacing: -0.15px;
    line-height: 16px;
    word-spacing: 0;
  }

  :lang(ja) .text-md {
    font-size: 12px;
  }

  .text-lg {
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 18px;
    word-spacing: 0;
  }

  :lang(ja) .text-lg {
    font-size: 13.8px;
  }

  .text-xl {
    font-size: 18px;
    letter-spacing: -0.25px;
    line-height: 20px;
    word-spacing: 0;
  }

  :lang(ja) .text-xl {
    font-size: 15.5px;
  }

  .display-xs {
    font-size: 21px;
    letter-spacing: -0.3px;
    line-height: 23px;
    word-spacing: -1.3px;
  }

  :lang(ja) .display-xs {
    font-size: 18.1px;
  }

  .display-sm {
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 28px;
    word-spacing: -2px;
  }

  :lang(ja) .display-sm {
    font-size: 20.6px;
  }

  .display-md {
    font-size: 36px;
    letter-spacing: -1.25px;
    line-height: 42px;
    word-spacing: -2.25px;
  }

  :lang(ja) .display-md {
    font-size: 31px;
  }

  .display-lg {
    font-size: 48px;
    letter-spacing: -1.75px;
    line-height: 56px;
    word-spacing: -2.75px;
  }

  :lang(ja) .display-lg {
    font-size: 41.3px;
  }

  .display-xl {
    font-size: 64px;
    letter-spacing: -2.25px;
    line-height: 76px;
    word-spacing: -3.25px;
  }

  :lang(ja) .display-xl {
    font-size: 55px;
  }
}

@media (min-width: 1312px) {
  .text-xs {
    font-size: 12px;
    letter-spacing: -0.1px;
    line-height: 14px;
    word-spacing: 0;
  }

  :lang(ja) .text-xs {
    font-size: 10.3px;
  }

  .text-sm {
    font-size: 14px;
    letter-spacing: -0.15px;
    line-height: 16px;
    word-spacing: 0;
  }

  :lang(ja) .text-sm {
    font-size: 12px;
  }

  .text-md {
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 18px;
    word-spacing: 0;
  }

  :lang(ja) .text-md {
    font-size: 13.8px;
  }

  .text-lg {
    font-size: 18px;
    letter-spacing: -0.25px;
    line-height: 20px;
    word-spacing: 0;
  }

  :lang(ja) .text-lg {
    font-size: 15.5px;
  }

  .text-xl {
    font-size: 21px;
    letter-spacing: -0.3px;
    line-height: 23px;
    word-spacing: -1.3px;
  }

  :lang(ja) .text-xl {
    font-size: 18.1px;
  }

  .display-xs {
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 28px;
    word-spacing: -2px;
  }

  :lang(ja) .display-xs {
    font-size: 20.6px;
  }

  .display-sm {
    font-size: 36px;
    letter-spacing: -1.25px;
    line-height: 42px;
    word-spacing: -2.25px;
  }

  :lang(ja) .display-sm {
    font-size: 31px;
  }

  .display-md {
    font-size: 48px;
    letter-spacing: -1.75px;
    line-height: 56px;
    word-spacing: -2.75px;
  }

  :lang(ja) .display-md {
    font-size: 41.3px;
  }

  .display-lg {
    font-size: 64px;
    letter-spacing: -2.25px;
    line-height: 76px;
    word-spacing: -3.25px;
  }

  :lang(ja) .display-lg {
    font-size: 55px;
  }

  .display-xl {
    font-size: 96px;
    letter-spacing: -3.25px;
    line-height: 114px;
    word-spacing: -4.25px;
  }

  :lang(ja) .display-xl {
    font-size: 82.6px;
  }
}

/*
This file was generated by running

  $ ./scripts/whitespace.js

*/

.m0 {
  margin: 0 0;
}

.mt0 {
  margin-top: 0;
}

.mr0 {
  margin-right: 0;
}

.mb0 {
  margin-bottom: 0;
}

.ml0 {
  margin-left: 0;
}

.p0 {
  padding: 0 0;
}

.px0 {
  padding-left: 0;
  padding-right: 0;
}

.py0 {
  padding-bottom: 0;
  padding-top: 0;
}

.m1 {
  margin: 3px 3px;
}

.mt1 {
  margin-top: 3px;
}

.mr1 {
  margin-right: 3px;
}

.mb1 {
  margin-bottom: 3px;
}

.ml1 {
  margin-left: 3px;
}

.mn1 {
  margin: -3px -3px;
}

.mtn1 {
  margin-top: -3px;
}

.mbn1 {
  margin-bottom: -3px;
}

.mln1 {
  margin-left: -3px;
}

.mrn1 {
  margin-right: -3px;
}

.mxn1 {
  margin-left: -3px;
  margin-right: -3px;
}

.myn1 {
  margin-bottom: -3px;
  margin-top: -3px;
}

.p1 {
  padding: 3px 3px;
}

.px1 {
  padding-left: 3px;
  padding-right: 3px;
}

.py1 {
  padding-bottom: 3px;
  padding-top: 3px;
}

.m2 {
  margin: 6px 6px;
}

.mt2 {
  margin-top: 6px;
}

.mr2 {
  margin-right: 6px;
}

.mb2 {
  margin-bottom: 6px;
}

.ml2 {
  margin-left: 6px;
}

.mn2 {
  margin: -6px -6px;
}

.mtn2 {
  margin-top: -6px;
}

.mbn2 {
  margin-bottom: -6px;
}

.mln2 {
  margin-left: -6px;
}

.mrn2 {
  margin-right: -6px;
}

.mxn2 {
  margin-left: -6px;
  margin-right: -6px;
}

.myn2 {
  margin-bottom: -6px;
  margin-top: -6px;
}

.p2 {
  padding: 6px 6px;
}

.px2 {
  padding-left: 6px;
  padding-right: 6px;
}

.py2 {
  padding-bottom: 6px;
  padding-top: 6px;
}

.m3 {
  margin: 9px 9px;
}

.mt3 {
  margin-top: 9px;
}

.mr3 {
  margin-right: 9px;
}

.mb3 {
  margin-bottom: 9px;
}

.ml3 {
  margin-left: 9px;
}

.mn3 {
  margin: -9px -9px;
}

.mtn3 {
  margin-top: -9px;
}

.mbn3 {
  margin-bottom: -9px;
}

.mln3 {
  margin-left: -9px;
}

.mrn3 {
  margin-right: -9px;
}

.mxn3 {
  margin-left: -9px;
  margin-right: -9px;
}

.myn3 {
  margin-bottom: -9px;
  margin-top: -9px;
}

.p3 {
  padding: 9px 9px;
}

.px3 {
  padding-left: 9px;
  padding-right: 9px;
}

.py3 {
  padding-bottom: 9px;
  padding-top: 9px;
}

.m4 {
  margin: 12px 12px;
}

.mt4 {
  margin-top: 12px;
}

.mr4 {
  margin-right: 12px;
}

.mb4 {
  margin-bottom: 12px;
}

.ml4 {
  margin-left: 12px;
}

.mn4 {
  margin: -12px -12px;
}

.mtn4 {
  margin-top: -12px;
}

.mbn4 {
  margin-bottom: -12px;
}

.mln4 {
  margin-left: -12px;
}

.mrn4 {
  margin-right: -12px;
}

.mxn4 {
  margin-left: -12px;
  margin-right: -12px;
}

.myn4 {
  margin-bottom: -12px;
  margin-top: -12px;
}

.p4 {
  padding: 12px 12px;
}

.px4 {
  padding-left: 12px;
  padding-right: 12px;
}

.py4 {
  padding-bottom: 12px;
  padding-top: 12px;
}

.m5 {
  margin: 15px 15px;
}

.mt5 {
  margin-top: 15px;
}

.mr5 {
  margin-right: 15px;
}

.mb5 {
  margin-bottom: 15px;
}

.ml5 {
  margin-left: 15px;
}

.mn5 {
  margin: -15px -15px;
}

.mtn5 {
  margin-top: -15px;
}

.mbn5 {
  margin-bottom: -15px;
}

.mln5 {
  margin-left: -15px;
}

.mrn5 {
  margin-right: -15px;
}

.mxn5 {
  margin-left: -15px;
  margin-right: -15px;
}

.myn5 {
  margin-bottom: -15px;
  margin-top: -15px;
}

.p5 {
  padding: 15px 15px;
}

.px5 {
  padding-left: 15px;
  padding-right: 15px;
}

.py5 {
  padding-bottom: 15px;
  padding-top: 15px;
}

.m6 {
  margin: 18px 18px;
}

.mt6 {
  margin-top: 18px;
}

.mr6 {
  margin-right: 18px;
}

.mb6 {
  margin-bottom: 18px;
}

.ml6 {
  margin-left: 18px;
}

.mn6 {
  margin: -18px -18px;
}

.mtn6 {
  margin-top: -18px;
}

.mbn6 {
  margin-bottom: -18px;
}

.mln6 {
  margin-left: -18px;
}

.mrn6 {
  margin-right: -18px;
}

.mxn6 {
  margin-left: -18px;
  margin-right: -18px;
}

.myn6 {
  margin-bottom: -18px;
  margin-top: -18px;
}

.p6 {
  padding: 18px 18px;
}

.px6 {
  padding-left: 18px;
  padding-right: 18px;
}

.py6 {
  padding-bottom: 18px;
  padding-top: 18px;
}

@media (min-width: 360px) {
  .m1 {
    margin: 4px 4px;
  }

  .mt1 {
    margin-top: 4px;
  }

  .mr1 {
    margin-right: 4px;
  }

  .mb1 {
    margin-bottom: 4px;
  }

  .ml1 {
    margin-left: 4px;
  }

  .mn1 {
    margin: -4px -4px;
  }

  .mtn1 {
    margin-top: -4px;
  }

  .mbn1 {
    margin-bottom: -4px;
  }

  .mln1 {
    margin-left: -4px;
  }

  .mrn1 {
    margin-right: -4px;
  }

  .mxn1 {
    margin-left: -4px;
    margin-right: -4px;
  }

  .myn1 {
    margin-bottom: -4px;
    margin-top: -4px;
  }

  .p1 {
    padding: 4px 4px;
  }

  .px1 {
    padding-left: 4px;
    padding-right: 4px;
  }

  .py1 {
    padding-bottom: 4px;
    padding-top: 4px;
  }

  .m2 {
    margin: 8px 8px;
  }

  .mt2 {
    margin-top: 8px;
  }

  .mr2 {
    margin-right: 8px;
  }

  .mb2 {
    margin-bottom: 8px;
  }

  .ml2 {
    margin-left: 8px;
  }

  .mn2 {
    margin: -8px -8px;
  }

  .mtn2 {
    margin-top: -8px;
  }

  .mbn2 {
    margin-bottom: -8px;
  }

  .mln2 {
    margin-left: -8px;
  }

  .mrn2 {
    margin-right: -8px;
  }

  .mxn2 {
    margin-left: -8px;
    margin-right: -8px;
  }

  .myn2 {
    margin-bottom: -8px;
    margin-top: -8px;
  }

  .p2 {
    padding: 8px 8px;
  }

  .px2 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .py2 {
    padding-bottom: 8px;
    padding-top: 8px;
  }

  .m3 {
    margin: 12px 12px;
  }

  .mt3 {
    margin-top: 12px;
  }

  .mr3 {
    margin-right: 12px;
  }

  .mb3 {
    margin-bottom: 12px;
  }

  .ml3 {
    margin-left: 12px;
  }

  .mn3 {
    margin: -12px -12px;
  }

  .mtn3 {
    margin-top: -12px;
  }

  .mbn3 {
    margin-bottom: -12px;
  }

  .mln3 {
    margin-left: -12px;
  }

  .mrn3 {
    margin-right: -12px;
  }

  .mxn3 {
    margin-left: -12px;
    margin-right: -12px;
  }

  .myn3 {
    margin-bottom: -12px;
    margin-top: -12px;
  }

  .p3 {
    padding: 12px 12px;
  }

  .px3 {
    padding-left: 12px;
    padding-right: 12px;
  }

  .py3 {
    padding-bottom: 12px;
    padding-top: 12px;
  }

  .m4 {
    margin: 16px 16px;
  }

  .mt4 {
    margin-top: 16px;
  }

  .mr4 {
    margin-right: 16px;
  }

  .mb4 {
    margin-bottom: 16px;
  }

  .ml4 {
    margin-left: 16px;
  }

  .mn4 {
    margin: -16px -16px;
  }

  .mtn4 {
    margin-top: -16px;
  }

  .mbn4 {
    margin-bottom: -16px;
  }

  .mln4 {
    margin-left: -16px;
  }

  .mrn4 {
    margin-right: -16px;
  }

  .mxn4 {
    margin-left: -16px;
    margin-right: -16px;
  }

  .myn4 {
    margin-bottom: -16px;
    margin-top: -16px;
  }

  .p4 {
    padding: 16px 16px;
  }

  .px4 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .py4 {
    padding-bottom: 16px;
    padding-top: 16px;
  }

  .m5 {
    margin: 20px 20px;
  }

  .mt5 {
    margin-top: 20px;
  }

  .mr5 {
    margin-right: 20px;
  }

  .mb5 {
    margin-bottom: 20px;
  }

  .ml5 {
    margin-left: 20px;
  }

  .mn5 {
    margin: -20px -20px;
  }

  .mtn5 {
    margin-top: -20px;
  }

  .mbn5 {
    margin-bottom: -20px;
  }

  .mln5 {
    margin-left: -20px;
  }

  .mrn5 {
    margin-right: -20px;
  }

  .mxn5 {
    margin-left: -20px;
    margin-right: -20px;
  }

  .myn5 {
    margin-bottom: -20px;
    margin-top: -20px;
  }

  .p5 {
    padding: 20px 20px;
  }

  .px5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .py5 {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .m6 {
    margin: 24px 24px;
  }

  .mt6 {
    margin-top: 24px;
  }

  .mr6 {
    margin-right: 24px;
  }

  .mb6 {
    margin-bottom: 24px;
  }

  .ml6 {
    margin-left: 24px;
  }

  .mn6 {
    margin: -24px -24px;
  }

  .mtn6 {
    margin-top: -24px;
  }

  .mbn6 {
    margin-bottom: -24px;
  }

  .mln6 {
    margin-left: -24px;
  }

  .mrn6 {
    margin-right: -24px;
  }

  .mxn6 {
    margin-left: -24px;
    margin-right: -24px;
  }

  .myn6 {
    margin-bottom: -24px;
    margin-top: -24px;
  }

  .p6 {
    padding: 24px 24px;
  }

  .px6 {
    padding-left: 24px;
    padding-right: 24px;
  }

  .py6 {
    padding-bottom: 24px;
    padding-top: 24px;
  }
}

@media (min-width: 800px) {
  .m1 {
    margin: 6px 8px;
  }

  .mt1 {
    margin-top: 6px;
  }

  .mr1 {
    margin-right: 8px;
  }

  .mb1 {
    margin-bottom: 6px;
  }

  .ml1 {
    margin-left: 8px;
  }

  .mn1 {
    margin: -6px -8px;
  }

  .mtn1 {
    margin-top: -6px;
  }

  .mbn1 {
    margin-bottom: -6px;
  }

  .mln1 {
    margin-left: -8px;
  }

  .mrn1 {
    margin-right: -8px;
  }

  .mxn1 {
    margin-left: -8px;
    margin-right: -8px;
  }

  .myn1 {
    margin-bottom: -6px;
    margin-top: -6px;
  }

  .p1 {
    padding: 6px 8px;
  }

  .px1 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .py1 {
    padding-bottom: 6px;
    padding-top: 6px;
  }

  .m2 {
    margin: 12px 16px;
  }

  .mt2 {
    margin-top: 12px;
  }

  .mr2 {
    margin-right: 16px;
  }

  .mb2 {
    margin-bottom: 12px;
  }

  .ml2 {
    margin-left: 16px;
  }

  .mn2 {
    margin: -12px -16px;
  }

  .mtn2 {
    margin-top: -12px;
  }

  .mbn2 {
    margin-bottom: -12px;
  }

  .mln2 {
    margin-left: -16px;
  }

  .mrn2 {
    margin-right: -16px;
  }

  .mxn2 {
    margin-left: -16px;
    margin-right: -16px;
  }

  .myn2 {
    margin-bottom: -12px;
    margin-top: -12px;
  }

  .p2 {
    padding: 12px 16px;
  }

  .px2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .py2 {
    padding-bottom: 12px;
    padding-top: 12px;
  }

  .m3 {
    margin: 18px 24px;
  }

  .mt3 {
    margin-top: 18px;
  }

  .mr3 {
    margin-right: 24px;
  }

  .mb3 {
    margin-bottom: 18px;
  }

  .ml3 {
    margin-left: 24px;
  }

  .mn3 {
    margin: -18px -24px;
  }

  .mtn3 {
    margin-top: -18px;
  }

  .mbn3 {
    margin-bottom: -18px;
  }

  .mln3 {
    margin-left: -24px;
  }

  .mrn3 {
    margin-right: -24px;
  }

  .mxn3 {
    margin-left: -24px;
    margin-right: -24px;
  }

  .myn3 {
    margin-bottom: -18px;
    margin-top: -18px;
  }

  .p3 {
    padding: 18px 24px;
  }

  .px3 {
    padding-left: 24px;
    padding-right: 24px;
  }

  .py3 {
    padding-bottom: 18px;
    padding-top: 18px;
  }

  .m4 {
    margin: 24px 32px;
  }

  .mt4 {
    margin-top: 24px;
  }

  .mr4 {
    margin-right: 32px;
  }

  .mb4 {
    margin-bottom: 24px;
  }

  .ml4 {
    margin-left: 32px;
  }

  .mn4 {
    margin: -24px -32px;
  }

  .mtn4 {
    margin-top: -24px;
  }

  .mbn4 {
    margin-bottom: -24px;
  }

  .mln4 {
    margin-left: -32px;
  }

  .mrn4 {
    margin-right: -32px;
  }

  .mxn4 {
    margin-left: -32px;
    margin-right: -32px;
  }

  .myn4 {
    margin-bottom: -24px;
    margin-top: -24px;
  }

  .p4 {
    padding: 24px 32px;
  }

  .px4 {
    padding-left: 32px;
    padding-right: 32px;
  }

  .py4 {
    padding-bottom: 24px;
    padding-top: 24px;
  }

  .m5 {
    margin: 30px 40px;
  }

  .mt5 {
    margin-top: 30px;
  }

  .mr5 {
    margin-right: 40px;
  }

  .mb5 {
    margin-bottom: 30px;
  }

  .ml5 {
    margin-left: 40px;
  }

  .mn5 {
    margin: -30px -40px;
  }

  .mtn5 {
    margin-top: -30px;
  }

  .mbn5 {
    margin-bottom: -30px;
  }

  .mln5 {
    margin-left: -40px;
  }

  .mrn5 {
    margin-right: -40px;
  }

  .mxn5 {
    margin-left: -40px;
    margin-right: -40px;
  }

  .myn5 {
    margin-bottom: -30px;
    margin-top: -30px;
  }

  .p5 {
    padding: 30px 40px;
  }

  .px5 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .py5 {
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .m6 {
    margin: 36px 48px;
  }

  .mt6 {
    margin-top: 36px;
  }

  .mr6 {
    margin-right: 48px;
  }

  .mb6 {
    margin-bottom: 36px;
  }

  .ml6 {
    margin-left: 48px;
  }

  .mn6 {
    margin: -36px -48px;
  }

  .mtn6 {
    margin-top: -36px;
  }

  .mbn6 {
    margin-bottom: -36px;
  }

  .mln6 {
    margin-left: -48px;
  }

  .mrn6 {
    margin-right: -48px;
  }

  .mxn6 {
    margin-left: -48px;
    margin-right: -48px;
  }

  .myn6 {
    margin-bottom: -36px;
    margin-top: -36px;
  }

  .p6 {
    padding: 36px 48px;
  }

  .px6 {
    padding-left: 48px;
    padding-right: 48px;
  }

  .py6 {
    padding-bottom: 36px;
    padding-top: 36px;
  }
}

@media (min-width: 1312px) {
  .m1 {
    margin: 6px 8px;
  }

  .mt1 {
    margin-top: 6px;
  }

  .mr1 {
    margin-right: 8px;
  }

  .mb1 {
    margin-bottom: 6px;
  }

  .ml1 {
    margin-left: 8px;
  }

  .mn1 {
    margin: -6px -8px;
  }

  .mtn1 {
    margin-top: -6px;
  }

  .mbn1 {
    margin-bottom: -6px;
  }

  .mln1 {
    margin-left: -8px;
  }

  .mrn1 {
    margin-right: -8px;
  }

  .mxn1 {
    margin-left: -8px;
    margin-right: -8px;
  }

  .myn1 {
    margin-bottom: -6px;
    margin-top: -6px;
  }

  .p1 {
    padding: 6px 8px;
  }

  .px1 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .py1 {
    padding-bottom: 6px;
    padding-top: 6px;
  }

  .m2 {
    margin: 12px 16px;
  }

  .mt2 {
    margin-top: 12px;
  }

  .mr2 {
    margin-right: 16px;
  }

  .mb2 {
    margin-bottom: 12px;
  }

  .ml2 {
    margin-left: 16px;
  }

  .mn2 {
    margin: -12px -16px;
  }

  .mtn2 {
    margin-top: -12px;
  }

  .mbn2 {
    margin-bottom: -12px;
  }

  .mln2 {
    margin-left: -16px;
  }

  .mrn2 {
    margin-right: -16px;
  }

  .mxn2 {
    margin-left: -16px;
    margin-right: -16px;
  }

  .myn2 {
    margin-bottom: -12px;
    margin-top: -12px;
  }

  .p2 {
    padding: 12px 16px;
  }

  .px2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .py2 {
    padding-bottom: 12px;
    padding-top: 12px;
  }

  .m3 {
    margin: 18px 24px;
  }

  .mt3 {
    margin-top: 18px;
  }

  .mr3 {
    margin-right: 24px;
  }

  .mb3 {
    margin-bottom: 18px;
  }

  .ml3 {
    margin-left: 24px;
  }

  .mn3 {
    margin: -18px -24px;
  }

  .mtn3 {
    margin-top: -18px;
  }

  .mbn3 {
    margin-bottom: -18px;
  }

  .mln3 {
    margin-left: -24px;
  }

  .mrn3 {
    margin-right: -24px;
  }

  .mxn3 {
    margin-left: -24px;
    margin-right: -24px;
  }

  .myn3 {
    margin-bottom: -18px;
    margin-top: -18px;
  }

  .p3 {
    padding: 18px 24px;
  }

  .px3 {
    padding-left: 24px;
    padding-right: 24px;
  }

  .py3 {
    padding-bottom: 18px;
    padding-top: 18px;
  }

  .m4 {
    margin: 24px 32px;
  }

  .mt4 {
    margin-top: 24px;
  }

  .mr4 {
    margin-right: 32px;
  }

  .mb4 {
    margin-bottom: 24px;
  }

  .ml4 {
    margin-left: 32px;
  }

  .mn4 {
    margin: -24px -32px;
  }

  .mtn4 {
    margin-top: -24px;
  }

  .mbn4 {
    margin-bottom: -24px;
  }

  .mln4 {
    margin-left: -32px;
  }

  .mrn4 {
    margin-right: -32px;
  }

  .mxn4 {
    margin-left: -32px;
    margin-right: -32px;
  }

  .myn4 {
    margin-bottom: -24px;
    margin-top: -24px;
  }

  .p4 {
    padding: 24px 32px;
  }

  .px4 {
    padding-left: 32px;
    padding-right: 32px;
  }

  .py4 {
    padding-bottom: 24px;
    padding-top: 24px;
  }

  .m5 {
    margin: 30px 40px;
  }

  .mt5 {
    margin-top: 30px;
  }

  .mr5 {
    margin-right: 40px;
  }

  .mb5 {
    margin-bottom: 30px;
  }

  .ml5 {
    margin-left: 40px;
  }

  .mn5 {
    margin: -30px -40px;
  }

  .mtn5 {
    margin-top: -30px;
  }

  .mbn5 {
    margin-bottom: -30px;
  }

  .mln5 {
    margin-left: -40px;
  }

  .mrn5 {
    margin-right: -40px;
  }

  .mxn5 {
    margin-left: -40px;
    margin-right: -40px;
  }

  .myn5 {
    margin-bottom: -30px;
    margin-top: -30px;
  }

  .p5 {
    padding: 30px 40px;
  }

  .px5 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .py5 {
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .m6 {
    margin: 36px 48px;
  }

  .mt6 {
    margin-top: 36px;
  }

  .mr6 {
    margin-right: 48px;
  }

  .mb6 {
    margin-bottom: 36px;
  }

  .ml6 {
    margin-left: 48px;
  }

  .mn6 {
    margin: -36px -48px;
  }

  .mtn6 {
    margin-top: -36px;
  }

  .mbn6 {
    margin-bottom: -36px;
  }

  .mln6 {
    margin-left: -48px;
  }

  .mrn6 {
    margin-right: -48px;
  }

  .mxn6 {
    margin-left: -48px;
    margin-right: -48px;
  }

  .myn6 {
    margin-bottom: -36px;
    margin-top: -36px;
  }

  .p6 {
    padding: 36px 48px;
  }

  .px6 {
    padding-left: 48px;
    padding-right: 48px;
  }

  .py6 {
    padding-bottom: 36px;
    padding-top: 36px;
  }
}

/* Deprecated */

.col,
.xs-col {
  display: inline-block;
  vertical-align: top;
}

.col-1,
.xs-col-1 {
  width: 8.33333%;
}

.col-2,
.xs-col-2 {
  width: 16.66667%;
}

.col-3,
.xs-col-3 {
  width: 25%;
}

.col-4,
.xs-col-4 {
  width: 33.33333%;
}

.col-5,
.xs-col-5 {
  width: 41.66667%;
}

.col-6,
.xs-col-6 {
  width: 50%;
}

.col-7,
.xs-col-7 {
  width: 58.33333%;
}

.col-8,
.xs-col-8 {
  width: 66.66667%;
}

.col-9,
.xs-col-9 {
  width: 75%;
}

.col-10,
.xs-col-10 {
  width: 83.33333%;
}

.col-11,
.xs-col-11 {
  width: 91.66667%;
}

.col-12,
.xs-col-12 {
  width: 100%;
}

@media (min-width: 360px) {
  .sm-col-1 {
    width: 8.33333%;
  }

  .sm-col-2 {
    width: 16.66667%;
  }

  .sm-col-3 {
    width: 25%;
  }

  .sm-col-4 {
    width: 33.33333%;
  }

  .sm-col-5 {
    width: 41.66667%;
  }

  .sm-col-6 {
    width: 50%;
  }

  .sm-col-7 {
    width: 58.33333%;
  }

  .sm-col-8 {
    width: 66.66667%;
  }

  .sm-col-9 {
    width: 75%;
  }

  .sm-col-10 {
    width: 83.33333%;
  }

  .sm-col-11 {
    width: 91.66667%;
  }

  .sm-col-12 {
    width: 100%;
  }
}

@media (min-width: 800px) {
  .md-col-1 {
    width: 8.33333%;
  }

  .md-col-2 {
    width: 16.66667%;
  }

  .md-col-3 {
    width: 25%;
  }

  .md-col-4 {
    width: 33.33333%;
  }

  .md-col-5 {
    width: 41.66667%;
  }

  .md-col-6 {
    width: 50%;
  }

  .md-col-7 {
    width: 58.33333%;
  }

  .md-col-8 {
    width: 66.66667%;
  }

  .md-col-9 {
    width: 75%;
  }

  .md-col-10 {
    width: 83.33333%;
  }

  .md-col-11 {
    width: 91.66667%;
  }

  .md-col-12 {
    width: 100%;
  }
}

@media (min-width: 1312px) {
  .lg-col-1 {
    width: 8.33333%;
  }

  .lg-col-2 {
    width: 16.66667%;
  }

  .lg-col-3 {
    width: 25%;
  }

  .lg-col-4 {
    width: 33.33333%;
  }

  .lg-col-5 {
    width: 41.66667%;
  }

  .lg-col-6 {
    width: 50%;
  }

  .lg-col-7 {
    width: 58.33333%;
  }

  .lg-col-8 {
    width: 66.66667%;
  }

  .lg-col-9 {
    width: 75%;
  }

  .lg-col-10 {
    width: 83.33333%;
  }

  .lg-col-11 {
    width: 91.66667%;
  }

  .lg-col-12 {
    width: 100%;
  }
}
